*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }

  .sectionPrincipal {
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  .divImgPrincipal{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 50;
    background-color: rgb(57, 57, 95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .imgPrincipal{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    object-fit: cover;
  }

  .tituloPrincipal{
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: #fff;
  }

  .subtituloPrincipal{
    position: relative;
    font-size: 20px;
    margin: auto;
    text-align: center;
    color: #fff;
  }

  .iconPrincipal{
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    display: inline-block;
    z-index: 60;
    bottom: 0;
    width: 100%;
  }